/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

svg{
    margin: 0;
}

/* header */
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: relative;
    background-color: #295ee8;
}

.top{
    width: 70%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

nav li{
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}

header nav a:hover{
    text-decoration: underline;
}

#logo{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
#logo img{
    vertical-align: middle;
}

.btn-container{
    display: inline-block;
    width: 124px;
    position: absolute;
    right: 0;
    top: 0;
}

.btn{
    padding: 12px 12px;
    color: black;
    background-color: #fff;
    border-radius: 2em;
}


/* jumbotron */
#jumbotron{
    height: 715px;
    position: relative;
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}

.jumbo-text{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

.jumbo-text h1{
    font-size: 60px;
    font-weight: 800;
}

.jumbo-text p{
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 45px 0;
}

.jumbo-text .btn{
    font-size: 20px;
    margin: 0 15px;
    padding: 15px 25px;
}

.jumbo-text .btn:first-child{
    color: #23272a;
}

.jumbo-text .btn:last-child{
    background-color: #23272a;
    color: white;
}

/* inizio main */
/* section */

.onde{
    background-color: #f3f4f5;
    margin: -10px 0;
}


.section-container{
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.immagine{
    display: inline-block;
    padding-right: 50px;
}

.testo{
    width: 35%;
    display: inline-block;
    color: #23272a;
}

.testo h2{
    font-size: 50px;
    line-height: 60px;
}

.testo p{
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0 0 0;
}

/* section 4 */

.section-container.big{
    width: 80%;
    text-align: center;
}

.testo.big{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.section-container.big .immagine img{
    height: 800px;
}

.testo-finale{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 150px;
}

.testo-finale h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.testo-finale .btn{
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    background-color: #8ea1e1;
}

/* footer */

footer{
    width: 100%;
    height: 700px;
    background-color: #23272a;
    padding-top: 80px;
}

.footer-top{
    width: 70%;
    height: 400px;
    margin:  auto;
    border-bottom: 2px solid #7188d9;
    position: relative;
}

.row-left{
    width: 20%;
    display: inline-block;
}

.row-left h3{
    color: #7188d9;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;
}

.row-left span{
    color: white;
    line-height: 10px;
}

.row-left span img{
    height: 15px;
    vertical-align: text-bottom;
}

.row-left span i{
    font-size: 10px;
}

.row-left ul li{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    padding-top: 24px;
}

/* liste */
.row-lista{
    display: inline-block;
    position: absolute;
    top: 0;
}

.row-lista:nth-of-type(2)
{
    left: 30%;
}
.row-lista:nth-of-type(3)
{
    left: 45%;
}
.row-lista:nth-of-type(4)
{
    left: 60%;
}
.row-lista:nth-of-type(5)
{
    left: 75%;
}


.lista{
    display: inline-block;
}

.lista .titolo-lista{
    color: #7188d9;
    font-weight: 800;
    padding-top: 20px;
}

.lista ul li{
    list-style: none;
    font-weight: 600;
    margin: 12px 0;
} 

.lista ul li a:hover{
    text-decoration: underline;
}

/* footer bottom */

.footer-bottom{
    width: 70%;
    margin: 40px auto;
    position: relative;
}

.footer-bottom div{
    display: inline-block;
}

.footer-bottom .btn{
    display: inline-block;
    color: white;
    background-color: #8ea1e1;
    position: absolute;
    top: 0;
    right: 0;
}